@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

#content{
    margin: 0 auto;
}
nav{
        display: flex;
        justify-content: space-around;
    }
nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    background-color:#00000020;
    padding-top: 13px;
    padding-bottom:10px;
    max-height: 35px;
    width: 100%;
    z-index:1;
}
nav a:hover{
    background-color: #AC2020;
    color: white
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
    color: white;
    z-index: 2;
}
#hero-msg h4{
    color: white;
    z-index: 2;
}
#hero-msg{
    margin-top: 100px;
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 2;
}
.button-box{
    text-align: center
}
main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
#background{
    height: 725px;
}
body{
    background-color: whitesmoke;
    font-family: 'Zilla Slab', 'Courier New', 'Monaco';
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}
header{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 150px auto;
}
.book, .join{
    background-color: #096B72;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;

}
.book:hover, .join:hover{
    background-color: #AC2020;
    color:white
}
#background{
    background-color: #096B72;
    max-height: 100%;
    margin-bottom: 200px;
    grid-column: 1/11;
    grid-row: 4/11;
}
.home-title{
    font-family: 'Jaro', 'Copperplate', 'Lucida Console';
    font-size: 2em;
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr auto auto auto auto auto auto auto auto auto auto;
    width: 100%;
}
.msg{
    background-color: #127D5F;
    line-height: 1.5em;
    padding: 35px;
    max-width: 100%;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #00000070;
}
.msg h2{
    color: white;
    font-family: 'Jaro', 'Copperplate', 'Lucida Console';
}
.msg p{
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}
footer{
    background-color: #127D5F;
    color:black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
footer a{
    color:whitesmoke;
    text-decoration: none;
}
footer a:hover{
    color: white;
}

.home-title{
    color:black;
    margin-top: 10px;
}
h4{
    color:black;
}
.logo{
    min-width: 100px;
    max-width: 100%;
    padding: 0px;
}
.icon{
    padding-top: 10px;
    width:80px;
}
#hero-img{
    width:100%;
    margin-bottom: 100px;
}
#hero{
    background-color:#127D5F;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -203px;
    z-index: 0;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: 0;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    z-index: 1;
}
.rivers-card{
    margin: auto;
    grid-column: 2/4;
    grid-row: 2/3;

}
.camping-card{
    margin: auto;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    margin: auto;
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #00000070;
}
.card-img{
    margin-top: 30px;
    border: 10px solid #096B72;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #00000070;
}
.card-img, .mountains{
    width: 100%;
}
.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}
/* FAQS Page below*****************************************************
*/
.faqs-grid{
    display:grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    padding-left:30px;
}
#hero-faqs{
    display: grid;
    grid-template-columns: 1fr, 3fr, 1fr;
    grid-template-rows: 1fr, 3fr, 1fr;
    margin-top: -200px;
    z-index: 0;
    width:100%;
}
#hero-faqs-box{
    grid-column: 1/4;
    grid-row: 1/5;
    z-index: 0;
}
#hero-faqs-msg{
    margin-top: 100px;
    grid-column: 1/4;
    grid-row: 1/5;
    z-index: 2;
}
#hero-faqs-msg h1, #hero-faqs-msg h4{
    text-align: center;
    z-index: 2;
}
#hero-faqs-msg h1{
    color:#096B72;
}
#hero-faqs-msg h4{
    background-color:#00000070;
    padding: 20px;
    color:white;
}
.faqs-title{
    font-family: 'Jaro', 'Copperplate', 'Lucida Console';
    font-weight:100;
    font-size: 6em;
}
.question{
    grid-column:1/4;
    font-family: 'Jaro', 'Copperplate', 'Lucida Console';
    font-weight:100;
    font-size: 2em;
    color:#096B72;
}
.question p{
    grid-column:1/4;
    margin-block:-5px;
}
p{
    grid-column:1/4;
    margin-top:50px;
}
.faq-imgs{
    grid-column:1/4;
    display:inline-block;
    text-align:center;
    margin-top: 70px;
    margin-bottom:70px;

    border: 10px solid #096B72;
    box-shadow: 5px 5px 10px #00000070;
    
}
.two-imgs{
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
       